*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

p{
    letter-spacing: 9px;
    line-height: 26px;
    font-family: sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
